In [5]:
import pandas as pd
import numpy as np
a = pd.Series(['Java', 'C', 'C++', np.nan])
a.map({'Java': 'Core'})
print(a)

0    Java
1       C
2     C++
3     NaN
dtype: object

In [7]:
s = pd.Series(["a","b", "c"], name = "vals")
s.to_frame()

  vals
0    a
1    b
2    c

In [12]:
import pandas as pd
emp = ['Parker', 'John', 'Smith', 'William']
id = [102, 107, 109, 114]
emp_series = pd.Series(emp)
id_series = pd.Series(id)
frame = {'Emp': emp_series, 'ID': id_series}
result = pd.DataFrame(frame)
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [16]:
import pandas as pd
info = {'ID' :[101,102,103], 'Department':['B.Sc', 'B.Tech', 'M.tech']}
df = pd.DataFrame(info)
print(df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.tech

In [20]:
import pandas as pd
info = {'one' :pd.Series([1,2,3,4,5,6], index=['a', 'b', 'c', 'd', 'e', 'f']), 'two' : pd.Series([1,2,3,4,5,6,7,8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g','h'])}
d1 = pd.DataFrame(info)
print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [35]:
import pandas as pd
info = {
    "Name": pd.Series(['Pratyush', 'Navdeep', 'Nikhil']),
    "Age": pd.Series([20, 20, 20]),
    "City": pd.Series(['Ranchi', 'Rourkela', 'Patna'])
}
d2 = pd.DataFrame(info)
print(d2)

       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2    Nikhil   20     Patna

In [36]:
import pandas as pd
info = {
    "Name": pd.Series(['Pratyush', 'Navdeep', 'Nikhil']),
    "Age": pd.Series([20, 20, 20]),
    "City": pd.Series(['Ranchi', 'Rourkela', 'Patna'])
}
d2 = pd.DataFrame(info)
print(d2)
print("Adding a new colum to the data-farme")
print()
d2["Gender"] = pd.Series(['Male', 'Male','Female'])
print(d2)

       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2    Nikhil   20     Patna
Adding a new colum to the data-farme

       Name  Age      City  Gender
0  Pratyush   20    Ranchi    Male
1   Navdeep   20  Rourkela    Male
2    Nikhil   20     Patna  Female

In [45]:
import pandas as pd
info = {
    "Name": pd.Series(['Pratyush', 'Navdeep', 'Nikhil']),
    "Age": pd.Series([20, 20, 20]),
    "City": pd.Series(['Ranchi', 'Rourkela', 'Patna'])
}
d2 = pd.DataFrame(info)
print(d2)

print()
print("Adding a new colum to the data-farme")
d2["Gender"] = pd.Series(['Male', 'Male','Female'])
print(d2)

print()
print("Deleting a column")
del d2['Gender']
print(d2)

       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2    Nikhil   20     Patna

Adding a new colum to the data-farme
       Name  Age      City  Gender
0  Pratyush   20    Ranchi    Male
1   Navdeep   20  Rourkela    Male
2    Nikhil   20     Patna  Female

Deleting a column
       Name  Age      City
0  Pratyush   20    Ranchi
1   Navdeep   20  Rourkela
2    Nikhil   20     Patna

In [54]:
import pandas as pd
info = {'one': pd.Series([1,2,3,4,5], index=['a','b','c','d','e']), 'two': pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])}
df = pd.DataFrame(info)
print(df.iloc[2:5])

   one  two
c  3.0    3
d  4.0    4
e  5.0    5

In [63]:
import pandas as pd

# Creating the first DataFrame
d = pd.DataFrame([[7, 8], [9, 10]], columns=['x', 'y'])

# Creating the second DataFrame
d2 = pd.DataFrame([[11, 12], [13, 14]], columns=['x', 'y'])

# Concatenating the DataFrames
d = pd.concat([d, d2], ignore_index=True)

# Displaying the concatenated DataFrame
print(d)

    x   y
0   7   8
1   9  10
2  11  12
3  13  14